

.label{
	max-width:120px;
}

.buttons{
	width:200px;
	margin:auto;
}

.buttons .btn{
	margin-bottom:5px;
}
.dossier > .form-control{
	margin-bottom:10px;
}
.bundleTable{
	border-collapse: collapse;
	margin-top:5px;
}
.bundleTable td{
	padding: 0px 5px 5px 0px;
}
.bundleTable td:first-child{
	font-weight:bold;
}
.bundleTable select{
	width:200px;
}