<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
 
    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%-16X{user.name}] %-5level %-20.20logger{0} - %m%n</Property>
        <Property name="APP_LOG_ROOT">./log/</Property> <!-- Change to reflect the location of the log file(s) -->
    </Properties>
     
    <Appenders>
     
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %-20.20logger{0} - %m%n"/>
        </Console>
         
        <!-- File Appenders on need basis -->      
        <RollingFile name="errorLog" fileName="${APP_LOG_ROOT}/rvt-error.log"
            filePattern="${APP_LOG_ROOT}/rvt-error-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="FATAL" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
        <RollingFile name="infoLog" fileName="${APP_LOG_ROOT}/rvt-info.log"
            filePattern="${APP_LOG_ROOT}/rvt-info-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="FATAL" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
        <RollingFile name="debugLog" fileName="${APP_LOG_ROOT}/rvt-debug.log"
            filePattern="${APP_LOG_ROOT}/rvt-debug-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="FATAL" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
        <RollingFile name="traceLog" fileName="${APP_LOG_ROOT}/rvt-trace.log"
            filePattern="${APP_LOG_ROOT}/rvt-debug-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile> 
    </Appenders>
 
    <Loggers>
        <Logger name="nu.educom.rvt" additivity="false" level="trace">
            <AppenderRef ref="traceLog" />
            <AppenderRef ref="debugLog" />
            <AppenderRef ref="infoLog" />
            <AppenderRef ref="errorLog" />
            <AppenderRef ref="Console"/>
        </Logger>
               
        <!-- All other packages --> 
        <Root level="warn">
           <AppenderRef ref="Console"/>
        </Root>
 
    </Loggers>
 
</Configuration>